@charset "UTF-8"; /*reset css*/
* { font-family: Pretendard, "Pretendard", MalgunGothic, "맑은 고딕", "돋움", Dotum,
 AppleGothic, Sans-serif, Arial; word-break: keep-all; } 

html,body,div,p,span,strong,b,em,iframe,pre,h1,h2,h3,h4,h5,h6,img,dl,dt,dd,
fieldset,form,legend,label,table,caption,thead,tbody,tfoot,tr,th,td,
ul,ol,li,a,input,select,textarea,figure { margin: 0; padding: 0; border: 0 none; } 

input { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 

body { font-family: Pretendard, "Pretendard", MalgunGothic, "맑은 고딕", "돋움", Dotum, AppleGothic, Sans-serif, Arial; } 

strong { font-weight: 500; } 

ul,ol,li { list-style: none; } 
em,address { font-style: normal; } 
img { border: 0 none; font-size: 0; line-height: 0; } 
sup { position: relative; top: 2px; font-size: 8px; line-height: 100%; } 

/*테이블 만들 때 캡션 잊어버리지 말기..*/
table { border-collapse: collapse; border-spacing: 0; } 
caption { overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0; } 
th,td { vertical-align: middle; /* white-space: nowrap */ } 

a { color: #333; text-decoration: none; line-height: 1; } 
a:hover,a:focus,a:active { text-decoration: underline; } 
a:visited { color: #333; } 
*,
html { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 
*,
*:before,
*:after { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 

button { border: none; appearance: none; -webkit-appearance: none; -moz-appearance: none; font-family: "Pretendard", MalgunGothic, "맑은 고딕", "돋움", Dotum, AppleGothic, Sans-serif, Arial; cursor: pointer; margin: 0; } 

select { -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; } 


/* font size 규격 (변수처리 제거/ 반영여부 미정) */
/* h1 - 24px */
/* h2 - 22px */
/* h3 - 18px */
/* ① - 22px */
/* 본문 - 18px */
/* tbl 내부 - 16px */

@font-face { font-family: 'WAGURITTF'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2'); font-weight: normal; font-style: normal; } 
@font-face { font-family: 'ONE Mobile Title'; src: url('https://cdn.jsdelivr.net/gh/wooin21/web/fonts/onestore/ONE Mobile Title.woff') format('woff2'); font-weight: normal; font-style: normal; } 


/*** 레이아웃 ***/
.cm_wrap { min-width: 390px; } 


/*** 슬라이드 영역***/
.cm_slide_container { position: relative; overflow: hidden; width: 100%; min-width: 390px; max-width: 800px; height: calc(100vh - 70px); } 
.cm_slides { display: flex; transition: transform 0.5s ease-in-out; } 
.cm_slide { min-width: 100%; box-sizing: border-box; height: calc(100vh - 70px); overflow-y: scroll; } 

.cm_foot { position: fixed; height: 70px; bottom: 0; width: 100%; min-width: 390px; background-color: #eee; border-top-left-radius: 50px; border-top-right-radius: 50px; } 
.cm_navigation { position: absolute; top: 50%; transform: translateY(-50%); width: 100%; display: flex; justify-content: space-between; } 
.cm_nav_button { cursor: pointer; background: none; margin: 0 30px; } 
.cm_nav_button img { display: block; width: 40px; } 
.cm_nav_button img.disabled { display: none; } 
.cm_nav_button[disabled] img { display: none; } 
.cm_nav_button[disabled] img.disabled { display: block; } 
.cm_indicators { display: flex; justify-content: center; margin-top: 25px; } 
.cm_indicator { width: 15px; height: 15px; background-color: #888; border-radius: 50%; margin: 0 5px; transition: all 0.3s ease; } 
.cm_indicator.cm_current { width: 30px; background-color: #4f80ff; border-radius: 30px; } 



/* 기본 텍스트박스 */
.cm_txt { padding: 25px 0; color: #222; font-size: 18px; line-height: 26px; text-align: left;} 
.cm_txt_in { padding-bottom: 25px; color: #222; font-size: 18px; line-height: 30px; } 



/*** 타이틀 ***/
.cm_title_wrap { display: flex; height: 76px; flex-direction: row; align-items: center; position: relative; } 
.cm_ico_01 { display: block; width: 76px; height: 76px; position: absolute; z-index: 2; background-color: #4f80ff; border-radius: 50%; background-image: url('../img/ico_01.svg'); background-size: 50px auto; background-repeat: no-repeat; background-position: 11px 17px; } 
.cm_ico_02 { display: block; width: 76px; height: 76px; position: absolute; z-index: 2; background-color: #4f80ff; border-radius: 50%; background-image: url('../img/ico_02.svg'); background-size: 32px auto; background-repeat: no-repeat; background-position: 20px 11px; } 
.cm_title_01 { width: fit-content; height: 58px; position: absolute; left: 40px; z-index: 1; font-family: 'WAGURITTF'; background-color: #4f80ff; border-top-right-radius: 35px; border-bottom-right-radius: 35px; padding: 13px 24px 13px 40px; font-size: 24px; line-height: 36px; font-weight: normal; color: #fff; letter-spacing: 2px; } 
.cm_title_02 { padding-top: 20px; font-size: 22px; text-align: left;} 
.cm_title_02 .cm_num { display: inline-block; width: 35px; height: 35px; text-align: center; font-weight: bold; background-color: #0d0572; color: #fff; margin-right: 10px; border-radius: 15px; border-bottom-right-radius: 7px; padding-top: 4px; } 
.cm_title_03 { display: flex; justify-content: flex-start; align-items: baseline; padding: 15px 0 10px; color: #222; font-size: 18px; line-height: 36px; font-weight: normal; } 
.cm_title_03 .cm_no { display: inline-block; text-indent: -20px; padding-left: 20px; color: #0d0572; padding-right: 7px; font-size: 22px; font-weight: normal; } 


/*** 동영상 ***/
.cm_video { display: flex; flex-direction: column; } 
.cm_video_title { height: 70px; width: 284px; padding-top: 10px; padding-left: 35px; color: #fff; font-size: 20px; background: url(../img/bg_title.png) no-repeat 0 0; text-align: left;} 
.cm_view { width: 100%; background: linear-gradient(to top left, #22dcfd 0%, #1c91e2 50%, #5865b9 100%); margin-top: -21px; padding: 3px; border-radius: 20px; } 
.cm_video_form { border-radius: 20px; overflow: hidden; display: block; } 


/*** 순서도 ***/
.cm_chart { display: flex; flex-direction: column; margin-bottom: 20px;} 
.cm_chart_title { height: 70px; width: 284px; padding-top: 12px; padding-left: 41px; color: #fff; font-size: 20px; background: url(../img/bg_title2.png) no-repeat 0 0; text-align: left;} 
.cm_view_chart { width: 100%; background-color: #fff; border: solid 3px #1a509f; margin-top: -21px; padding: 10px; border-radius: 20px; text-align: center; } 
.cm_view_chart img { display: block; margin: 0 auto; } 


/*** 이미지 리사이즈 ***/
.cm_img { text-align: center; padding: 20px 0; } 

.cm_img_warp img { width: 100%; } 
.cm_img_warp2 { background-color: #ddd; padding: 15px; margin-bottom: 20px; border-radius: 10px;} 
.cm_img_warp2 img { width: 100%; } 

.cm_img_321 { width: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-bottom: 20px; } 
.cm_img_321 .cm_321_01 { width: 16%; } 
.cm_img_321 .cm_321_02 { width: 6%; } 
.cm_img_321 .cm_321_03 { width: 70%; } 



/*
.cm_thumb_st01 { width: 15%;  min-width: 60px; } 
.cm_thumb_st02 { width: 3%; min-width: 30px; margin: 0 5px; } 
.cm_thumb_st03 { width: auto; height: 50px; max-width: 50%;  } 
.cm_thumb_st04 { width: auto; height: 70px; max-width: 60%;  } */


/*** Tip ***/
.cm_tip { position: relative; margin: 40px auto 0; padding: 0 40px; max-width: 100%; width: fit-content; } 
.cm_tip_tbl { position: relative; margin: 40px 0 10px; padding: 0; max-width: 100%; width: fit-content; } 

.cm_tip_txt { position: absolute; top: -18px; width: 60px; height: 36px; background-color: #7bbf0f; background-image: url('../img/ico_tip.png'); background-repeat: no-repeat; background-size: 34px auto; background-position: 11px 4px; border: solid 2px #2c6900; border-radius: 30px; border-bottom: solid 4px #2c6900; font-size: 0; text-indent: -999px; } 
.cm_tip_box { width: fit-content; background-color: #ecf1e5; border: solid 2px #2c6900; border-radius: 20px; border-top-left-radius: 0; padding: 30px 15px 20px; font-size: 16px; line-height: 26px; } 

.cm_tip_321 { display: flex; flex-direction: row; justify-content: center; gap: 50px; margin-top: 20px; } 
.cm_tip_321 li { text-align: center; } 
.cm_tip_321 li img { width: 100px; border: solid 1px #96bc61; border-radius: 10px; background-color: #fff; } 
.cm_tip_321 li span { display: block; text-align: center; font-size: 18px; } 

.cm_tip_322 { text-align: center; padding-top: 10px; } 
.cm_tip_322 img { width: 210px; } 

.cm_tip_var { padding-top: 10px; } 
.cm_tip_var img { height: 50px !important; margin-bottom: 20px; } 

.cm_tip_323_wrap { display: flex; justify-content: center; flex-wrap: wrap; } 
.cm_tip_323 { width: fit-content; background-color: #fff; border: solid 1px #c6dca8; border-radius: 20px; padding: 5px 20px; margin: 10px auto; } 

.cm_tip_324 { display: inline-block; line-height: 24px; } 
.cm_tip_324 img { width: 200px; vertical-align: middle; margin-right: 0 !important; } 


.cm_vt_c { display: inline-block; line-height: 24px; } 
.cm_vt_c img { vertical-align: middle; margin-right: 0 !important; } 

.cm_vt_txt { display: inline-block; line-height: 24px; margin-bottom: 20px; } 
.cm_vt_txt img { vertical-align: text-top; margin-right: 0 !important; margin-top: -10px; } 


/*** 테이블 스타일 ***/
.cm_tbl_wrap { min-width: 300px; margin-bottom: 20px; } 
.cm_tbl_wrap img { vertical-align: middle; } 

.cm_tbl_01 { width: 100%; border-top: 6px solid #0d0572; border-collapse: separate; border-spacing: 0; } 
.cm_tbl_01 th { background-color: #ddd; border-bottom: solid 4px #fff; border-left: solid 4px #fff; padding: 10px; font-size: var(--cm_tbl_txt); color: #222; } 
.cm_tbl_01 th:first-child { border-left: 0; }
.cm_tbl_01 th img { height: 35px; } 
.cm_tbl_01 th img.cm_h45 { height: 45px; } 
.cm_tbl_01 td { background-color: #eee; border-bottom: solid 4px #fff; border-left: solid 4px #fff; padding: 10px; font-size: var(--cm_tbl_txt); color: #222; } 
.cm_tbl_01 td:first-child { border-left: 0;}
.cm_tbl_01 td.cm_h35 img { height: 35px; } 

.cm_tbl_02 { width: 100%; border-top: 6px solid #4f80ff; border-collapse: separate; border-spacing: 0; } 
.cm_tbl_02 th { background-color: #d6e9f4; border-right: solid 4px #fff; border-bottom: solid 4px #fff; padding: 10px; font-size: var(--cm_tbl_txt); color: #222; } 
.cm_tbl_02 th img { height: 35px; } 
.cm_tbl_02 th img.cm_h45 { height: 45px; } 
.cm_tbl_02 td { background-color: #f7fcff; border-bottom: solid 4px #fff; padding: 15px 10px; font-size: var(--cm_tbl_txt); color: #222; } 
.cm_tbl_02 td img { margin-right: 10px; } 
.cm_tbl_02 td.cm_h35 img { height: 35px; } 
.cm_tbl_02 td.cm_img_block img { margin-bottom: 10px; } 


/**** 리스트 스타일 ***/
.cm_list { list-style-position: inside; padding-left: 20px; } 
.cm_list li { display: flex; justify-content: space-between; align-items: baseline; margin: 7px 0; position: relative; flex-wrap: wrap; } 
.cm_list li::before { content: "•"; position: absolute; left: -15px; color: #0d0572; } 
.cm_list li span { display: block; line-height: 26px; } 

.cm_list_num { padding-top: 20px; } 
.cm_list_num li { display: flex; justify-content: flex-start; align-items: flex-start; padding: 5px 0; } 
.cm_list_num li span { display: inline-block; text-indent: -25px; padding-left: 25px; color: #0d0572; font-size: 22px; margin-top: -2px; } 
.cm_list_num li span.cm_font_18 { text-indent: -20px; padding-left: 20px; font-size: 18px; } 
.cm_list_num li span.cm_font_22 { font-size: 22px; margin-top: -2px; } 

.cm_list_tip { list-style-position: inside; padding-left: 20px; } 
.cm_list_tip li { display: flex; justify-content: space-between; align-items: baseline; margin: 7px 0; position: relative; flex-wrap: wrap; } 
.cm_list_tip li::before { content: "■"; position: absolute; left: -15px; color: #2c6900; font-size: 12px; } 
.cm_list_tip li span { display: block; line-height: 26px; } 

.cm_list_tip2 { list-style-position: inside; padding-left: 20px; margin-left: 20px; } 
.cm_list_tip2 li { display: flex; justify-content: space-between; align-items: baseline; margin: 7px 0; position: relative; flex-wrap: wrap; } 
.cm_list_tip2 li::before { content: "ㄴ"; position: absolute; left: -22px; top: -4px; color: #2c6900; font-size: 24px; font-weight: bold;} 
.cm_list_tip2 li span { display: block; line-height: 26px; } 


/* 사이즈, 폰트 */
.cm_flex_inline { display: flex; justify-content: flex-start; align-items: flex-start; gap: 10px; } 
.cm_font_bold { font-weight: bold; } 
.cm_font_18 { font-size: 18px; } 


.cm_h20 { height: 20px !important; } 
.cm_h30 { height: 30px !important; } 
.cm_h50 { height: 50px !important; } 
.cm_h65 { height: 65px !important; } 
.cm_h80 { height: 80px !important; } 
.cm_h100 { height: 100px !important; } 
.cm_h150 { height: 150px !important; } 
 
 
.cm_w40 { width: 40% !important; } 
.cm_w50 { width: 50% !important; } 
.cm_w60 { width: 60% !important; }
.cm_w75 { width: 75% !important; }
.cm_w83 { width: 83% !important; }
.cm_w320 { width: 320px !important; } 


/* 패딩, 마진, 정렬 */
.cm_pd_l0 { padding-left: 0 !important; } 
.cm_pd_t0 { padding-top: 0 !important; } 
.cm_pd_b0 { padding-bottom: 0 !important; }
.cm_pd_tb0 { padding-top: 0 !important; padding-bottom: 0 !important;} 

.cm_pd_t5 { padding-top: 5px !important;}
.cm_pd_t10 { padding-top: 10px !important;}
.cm_pd_t20 { padding-top: 20px !important;}
.cm_mg_l20 { margin-left: 20px !important; }
 
.cm_mg_t0 { margin-top: 0 !important; } 
.cm_mg_t10 { margin-top: 10px !important; } 
.cm_mg_t20 { margin-top: 20px !important; } 
.cm_mg_t50 { margin-top: 50px !important; } 
.cm_mg_t100 { margin-top: 100px !important; }

.cm_mg_b20 { margin-bottom: 20px !important; } 

.cm_align_c { text-align: center; } 